.post__content {
    display: flex;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;

}
.post__medias {
    display: flex;


    width: 100%;

}
.post__medias::-webkit-scrollbar {
    display: none;
}
.post__media {
    width: 100%;
    flex: none;

}
.post__media {
    width: 100%;
    flex: none;

}
.odmik{
  margin-top: 2rem;
}
.form-inline .col-md-10 .col-sm-9 .col-xs-12{
  margin-left: 10px;
}
#odmik{
    margin-left: 10px;
}
#vse{
  margin-left: 10px;
  margin-right: 10px;
}
.container-profile{
  overflow: none;
  padding-bottom: 5rem;
}
body{
    overflow: none;
}
.content-panel{
  border: none;
}
@media screen and (max-width: 40rem) {
#odmik2{
  margin-left: 10px;

}
#textarea{
  margin-left: 10px;
  padding-right: 10px;
}
.form-control{
  width: 95%;
}
.emojionearea.form-control{
  width: 95%;
  margin-left: 10px;
}
.krneki{
  width: 95%;
}
}
.emojionearea .emojionearea-button {
    z-index: 5;
    position: absolute;
    right: 3px;
    left: auto;
    top: 3px;
    width: 24px;
    height: 24px;
    opacity: .6;
    cursor: pointer;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
